[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.28.1"
beautifulsoup4 = ">=4.11.1"

[dev-packages]
pylint = ">=2.15.5"
sphinx = ">=5.3.0"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"
