[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.24.0"
beautifulsoup4 = "==4.9.3"

[dev-packages]
pylint = "2.7.2"
sphinx = "3.5.2"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"

[requires]
python_version = "3.8"
